#container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 5px;
    border-radius: 10px;
    border: solid black 1px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.295);
    margin: 10px;
}
.nameContainer {
 text-align: center;
}
.imgContainer {
    width: 20vw;
    height: 20vh;
}
.priceContainer {

}
.card:hover {
    opacity: 0.8;
    background-color: rgb(207, 216, 219);
}
@media (max-width: 768px) {
    .card {
        width: 100%; 
    }
}

